/* add css styles here (optional) */

.test {
    width: 100%;
}

.test_menu {

}

.test_title {
    margin: auto !important;
    cursor: pointer;
}

.test_title_img {
    margin-right: .5rem !important;
    cursor: pointer;
}

.test_list_icon {
    cursor: pointer;
}

@media (min-width: 767px) {

    .test_list_icon {
        display: none !important;
    }

}